body {
    background-image: url('../Image/bgimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
}

.info-box {
    border: 1px dashed #fff;
    border-radius: 1px; /* You mentioned 1px round border */
    height: 400px;
    margin: 10px;

    
}




.navbar-nav .nav-item a {
    color:white;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover {
    color: #ffc107; /* Change to your desired hover color */
    border-bottom: 1px solid #ffc107;
}


.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}



/* ---------- Begin .rotating-border ---------- */
@keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .rotating-border {
    --border-radius: 1rem;
    --border-size: 0.5rem;
    --border-bg: conic-gradient(
      #fff 0.00turn 0.05turn, 
      #333 0.05turn 0.10turn, 
      #fff 0.10turn 0.15turn, 
      #333 0.15turn 0.20turn, 
      #fff 0.20turn 0.25turn, 
      #333 0.25turn 0.30turn, 
      #fff 0.30turn 0.35turn, 
      #333 0.35turn 0.40turn, 
      #fff 0.40turn 0.45turn, 
      #333 0.45turn 0.50turn, 
      #fff 0.50turn 0.55turn, 
      #333 0.55turn 0.60turn, 
      #fff 0.60turn 0.65turn, 
      #333 0.65turn 0.70turn, 
      #fff 0.70turn 0.75turn, 
      #333 0.75turn 0.80turn, 
      #fff 0.80turn 0.85turn, 
      #333 0.85turn 0.90turn, 
      #fff 0.90turn 0.95turn,
      #333 0.95turn 1.00turn
    );
    
    position: relative;
    overflow: hidden;
    font-size: 2rem;
    padding: calc(var(--border-size) * 2);
    border-radius: var(--border-radius);
    display: inline-block;
  }
  
  .rotating-border::before {
    content: '';
    display: block;
    background: var(--border-bg);
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -2;
    animation: spin 5s linear infinite;
  }
  
  .rotating-border--reverse::before {
    animation-direction: reverse;
  }
  
  .rotating-border::after {
    content: '';
    position: absolute;
    inset: var(--border-size);
   
    z-index: -1;
    border-radius: calc(var(--border-radius) - var(--border-size));
  }
  /* ---------- End .rotating-border ---------- */
  








 